{% for index, position in cards %}
    {# position correspond à la hauteur en px de l'image voulue #}
    <div class="card hide" data-letter="{{ index }}" style="background-position: 0 {{ position }}px"></div>
{% endfor %}