@import "vars";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  text-align: center;
  background-color: $background-color;
  color: $text-color;
}

h1 {
  font-size: 2em;
  font-weight:bold;
  padding:16px;
  margin:16px;
}

.game-header {
  width: 100%;
  margin: 10px auto;
  background-color: $header-color;
}

.game-container {
  width: 800px;
  height: 500px;
  margin: 50px auto;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .form-input{
    width: 100%;
    text-align: center;
  }

  .time {
    width: 60px;
    padding: 10px;
    margin: 0 20px;
    border-radius: 0;
    border: 0;

    &:focus,&:hover {
      outline:none;
    }
  }

  .submit-button {
    padding: 10px 10px;
    margin: 20px 0;
    border: 2px solid transparent;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
    background-color: $success-color;

    &:focus,&:hover {
      outline:none;
    }

    &:hover {
      color: $success-color;
      border-color: $success-color;
      background-color: transparent;
    }
  }
}

.scores {
  margin: 20px auto;
  background-color: $board-color;
  justify-content: center;

  ul {
    padding: 0;
    list-style-type: none;
  }
}

.board-grid {
  width: 708px;
  display: flex;
  flex-flow: row wrap;
  margin: 20px auto;
  border: 4px solid grey;
  justify-content: space-between;
  background-color: $board-color;
}

.card {
  height: 100px;
  width: 100px;
  padding: 20px;
  font-size: 150%;
  border-radius: 5px;
  border: 4px solid $board-color;
  background-color: $card-color;
  background-image: url(../img/cards.png);
  background-size: 100px auto;
  cursor: pointer;

  &.hide {
    background-image: none;
  }

  &.found {
    cursor: not-allowed;
  }
}

.progress-container {
  width: 700px;
  height: 30px;
  margin: 25px auto;
  background-color: $bar-color;
}

.progress-bar {
  height: 100%;
  animation: progressbar-countdown;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: linear;
  /* Sera mis à jour via le javascript */
  animation-duration: 60s;
  /* On ne souhaite que l'animation ne se déclenche qu'une fois */
  animation-iteration-count: 1;
  /* Sera démarré via le javascript */
  animation-play-state: paused;
}

/* Transition de la progression d'une couleur à l'autre */
@keyframes progressbar-countdown {
  from {
    width: 100%;
    background: $success-color;
  }
  to {
    width: 0;
    background: $failure-color;
  }
}