@import "reset";

*, *::before, *::after {
  box-sizing: border-box;
}

$font-primary: 'Dosis', sans-serif;

body {
  font-family: $font-primary;
  background-color: #262626;
}

.board-grid {
  margin: 50px auto;
  display: flex;
  width: 708px;
  border: 4px solid grey;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: grey;
}

.card {
  height: 100px;
  width: 100px;
  padding: 20px;
  border-radius: 5px;
  border: 4px solid grey;
  background-color: #444;
  background-image: url(../img/cards.png);
  background-size: 100px auto;
  color: #fff;
  font-size: 150%;

  &.hide {
    background-image: none;
  }
}

.progress-container {
  margin: 25px auto;
  width: 700px;
  height: 30px;
  background-color: lightgray;
}

.progress-bar {
  height: 100%;
  animation: progressbar-countdown;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: linear;
  /* Sera mis à jour via le javascript */
  animation-duration: 60s;
  /* On ne souhaite que l'animation ne se déclenche qu'une fois */
  animation-iteration-count: 1;
  /* Sera démarré via le javascript */
  animation-play-state: paused;
}

/* La progression va du vert au rouge */
@keyframes progressbar-countdown {
  from {
    width: 100%;
    background: #0F0;
  }
  to {
    width: 0;
    background: #F00;
  }
}