/* Font */
$font-primary: 'Dosis', sans-serif;

/* Colors */
$background-color: #262626;
$text-color: #fff;
$header-color: #a3a3a3;
$board-color: grey;
$card-color: #444;
$bar-color: #a3a3a3;
$success-color: #2ecc71;
$failure-color: #e74c3c;