{%- extends 'layout.twig' -%}

{%- block mainContent %}
    <div id="game-content">
        <div id="game-header" class="game-header">
            <h1>O'clock's Memory Game®</h1>
            <form id="game-settings" class="settings" method="post">
                <label for="time" class="input-setting">Choisir la durée de la partie (en secondes)</label>
                <input id="time" type="number" name="time" value="60">
                <br/>
                <input type="submit" value="Jouer">
            </form>
        </div>
        <div id="game-board" class="board-grid">
            {# Chargé via un appel ajax une fois que le joueur a cliqué sur "Jouer" #}
        </div>
        <div id="scores" class="scores">
            <h2>Les meilleurs temps !</h2>
            <ul>
                {% for score in scores %}
                    <li>{{ score }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="progress" class="progress-container">
            <div id="progress-bar" class="progress-bar"></div>
        </div>
    </div>
{% endblock mainContent -%}