{%- extends 'layout.twig' -%}

{%- block mainContent %}
    <div id="game-content" class="game-container">
        <div id="game-header" class="game-header">
            <h1>O'clock's Memory Game®</h1>
            <form id="game-settings" class="settings" method="post">
                <div class="form-input">
                    <label for="time" class="form-label">Choisir la durée de la partie (en secondes)</label>
                    <input class="time" id="time" type="number" name="time" value="60">
                </div>
                <input type="submit" class="submit-button" value="Jouer">
            </form>
        </div>
        <div id="game-board" class="board-grid">
            {# Les cartes sont chargées via un appel ajax une fois que le joueur a cliqué sur "Jouer" #}
            {# Le score disapaîtra à ce moment #}
            {% include "components/game/highscore.twig" %}
        </div>
        <div id="progress" class="progress-container">
            <div id="progress-bar" class="progress-bar"></div>
        </div>
    </div>
{% endblock mainContent -%}